// Sass mixin and variables
@import url('https://fonts.googleapis.com/css?family=Signika');
@mixin mybuttons {
  align-self: center;
  justify-self: center;
}
@mixin photostyle {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
$textcolour: white;
$fontstack: Telugu Sangam MN, Telugu MN, 'Signika', sans-serif; // Styles for the landing page using Sass Nesting

body {
  font-family: $fontstack;
  color: $textcolour;
  font-size: 1.1em;
}

.homegridcontainer {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 30px;
  background: url("../../img/hammock.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  position: relative;

  .title {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: oblique;
    grid-column: 3 / span 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
  }

  .subtitle {
    font-size: 1.3em;
    letter-spacing: 2px;
    font-style: oblique;
    grid-column: 3 / span 2;
    grid-row: 1;
    align-self: end;
    justify-self: center;
  }

  a:link,
  a:visited {
    background-color: none;
    border: 2px solid white;
    border-radius: 5px;
    color: $textcolour;
    padding: 10px 25px;
    text-decoration: none;
    min-width: 120px;
  }

  a:active,
  a:hover {
    border: 1px solid white;
  }

  .about {
    grid-column: 3;
    grid-row: 2;
    @include mybuttons;
  }

  .contact {
    grid-column: 4;
    grid-row: 2;
    @include mybuttons;
  }

  .photography {
    grid-column: 2;
    grid-row: 3;
    @include mybuttons;
  }

  .videography {
    grid-column: 3;
    grid-row: 3;
    @include mybuttons;
  }

  .graphic_design {
    grid-column: 4;
    grid-row: 3;
    @include mybuttons;
  }
  @media screen and (max-width:60em) {
    a:link,
    a:visited {
      font-size: 0.75em;
    }
  }
  /* break for mobile screens */
  @media screen and (max-width:40em) {
    #grid-container {
      grid-gap: 5px;
    }

    a:link,
    a:visited {
      margin: 5px;
    }

    .title {
      font-size: 1.8em;
      grid-column: 1 / span 4;
      grid-row: 1;
      align-self: start;
      justify-self: center;
    }

    .subtitle {
      font-size: 0.9em;
      grid-column: 1 / span 4;
      grid-row: 1;
      align-self: center;
      justify-self: center;
    }

    .about {
      grid-column: 2;
      grid-row: 2;
      align-self: center;
      justify-self: center;
    }

    .contact {
      grid-column: 2;
      grid-row: 2;
      align-self: end;
      justify-self: center;
    }

    .photography {
      grid-column: 3;
      grid-row: 3;
      align-self: start;
      justify-self: center;
    }

    .videography {
      grid-column: 3;
      grid-row: 3;
      align-self: middle;
      justify-self: center;
    }

    .graphic_design {
      grid-column: 3;
      grid-row: 3;
      align-self: end;
      justify-self: center;
    }
  }
}
// Styling for the About Page Using Sass Nesting
// Center the text in the Nav Bar

nav {
  text-align: center;
}
// Change the colour of the text in the Nav Bar for the current page

#pageon {
  color: red;
  font-weight: bolder;
}
// Textbox1, textbox2, and the media break are nested in textboxes

.textboxes {
  display: flex;
  flex-direction: column;
  background: url("../../img/about.jpg") no-repeat center;
  background-size: 100vw;
  height: 340px;

  #textbox1 {
    background-color: white;
    color: black;
    text-align: left;
    background: rgba(255, 255, 255, 0.4);
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    margin: 50px 15px 0;
  }

  #textbox2 {
    background-color: white;
    color: black;
    text-align: left;
    background: rgba(255, 255, 255, 0.4);
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 15px 15px;
  }
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    color: white;
    display: grid;
    justify-content: space-evenly;
    align-self: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background: url("../../img/about.jpg") no-repeat center;
    background-size: cover;
    font-size: 1.6em;
    max-width: 1080px;
    height: 720px;

    #textbox1 {
      grid-area: 2 / 4 / span 1 / span 2;
      align-self: center;
    }

    #textbox2 {
      grid-area: 4 / 2 / span 1 / span 2;
      align-self: center;
    }
  }
}
// Styles for the Contact page

.contact2 {
  background: lightgrey;
  color: black;
  text-transform: capitalize;
  max-width: 1080px;
  height: 55%;
  margin: 0 auto;

  .contact-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-form__title {
    font-size: 2rem;
  }

  .input-email,
  .input-message,
  .input-name,
  .input-subject {
    width: 100%;
    text-transform: capitalize;
    max-width: 85%;
  }

  .input-email,
  .input-message,
  .input-name,
  .input-send,
  .input-subject {
    font-size: 1rem;
  }

  .input-message {
    height: 200px;
  }

  .input-send {
    border-radius: 25px;
    text-transform: capitalize;
    width: 75px;
    margin: 10px;
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    .input-email,
    .input-message,
    .input-name,
    .input-send,
    .input-subject {
      font-size: 1.5rem;
    }

    .contact-form__title {
      font-size: 2.5rem;
    }
  }
}
// Styles for the Videography Page
#videolist {
  text-align: center;
}
// Styles for the Photography Page
.photo-container {
  display: flex;
  flex-direction: column;

  .photo {
    flex: 0 0 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photo-1 {
    background-image: url("../../img/banana.jpg");
    @include photostyle;
  }

  .photo-2 {
    background-image: url("../../img/spin.jpg");
    @include photostyle;
  }

  .photo-3 {
    background-image: url("../../img/rcmp.jpg");
    @include photostyle;
  }

  .photo-4 {
    background-image: url("../../img/snow.jpg");
    @include photostyle;
  }

  .photo-5 {
    background-image: url("../../img/skater.jpg");
    @include photostyle;
  }

  .photo-6 {
    background-image: url("../../img/leaf.jpg");
    @include photostyle;
  }
  @media screen and (min-width: 576px) {
    display: grid;
    height: 70vh;
    grid-template-areas: "block1 block2 block2 block3" "block4 block4 block5 block6";
    grid-gap: 10px;

    .photo-1 {
      grid-area: block1;
      background-image: url("../../img/banana.jpg");
      @include photostyle;
    }

    .photo-2 {
      grid-area: block2;
      background-image: url("../../img/spin.jpg");
      @include photostyle;
    }

    .photo-3 {
      grid-area: block3;
      background-image: url("../../img/rcmp.jpg");
      @include photostyle;
    }

    .photo-4 {
      grid-area: block4;
      background-image: url("../../img/snow.jpg");
      @include photostyle;
    }

    .photo-5 {
      grid-area: block5;
      background-image: url("../../img/skater.jpg");
      @include photostyle;
    }

    .photo-6 {
      grid-area: block6;
      background-image: url("../../img/leaf.jpg");
      @include photostyle;
    }
  }
}
