
nav {
    text-align: center;
}

#pageon {
    color: red;
    font-weight: bolder;
}

/*Styles for mobile start*/


/*Styles for the Page Start*/
#grid-container {
    color: white;
    display: flex;
    flex-direction: column;
    background: url(img/about.jpg) no-repeat center;
    background-size: 100vw;
    height: 300px;
    margin: 0 auto;

}

#textbox1 {
  background-color: white;
  color: black;
  text-align: left;
  background: rgba(255, 255, 255, 0.4);
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
    margin: 50px 15px 0px 15px;
}

#textbox2 {
  background-color: white;
  color: black;
  text-align: left;
  background: rgba(255, 255, 255, 0.4);
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
    margin: 0px 15px 15px 15px;
}



/*Styles for mobile end*/

/*Styles for desktop and tablet start*/

@media screen and (min-width: 768px) {


#grid-container {
    color: white;
    display: grid;
    justify-content: space-evenly;
    align-self: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background: url(img/about.jpg) no-repeat center;
    background-size:cover;
    font-size: 1.6em;
    max-width: 1080px;
    height: 720px;

}
 #textbox1 {
  grid-area: 2 / 4 / span 1 / span 2;
    align-self: center;
  background-color: white;
  color: black;
  text-align: left;
  background: rgba(255, 255, 255, 0.4);
  padding: 10px;
  font-weight: bold;
}

#textbox2 {
  grid-area: 4 / 2 / span 1 / span 2;
    align-self: center;
  background-color: white;
  color: black;
  text-align: left;
  background: rgba(255, 255, 255, 0.4);
  padding: 10px;
  font-weight: bold;
}


}

/*Styles for desktop and tablet end*/
