
/* align the nav items to the center and change the color of the current nav
item to red */
#pageon {
  color: red;
  font-weight: bolder;
}

nav {
  text-align: center;
}

/* div {
  text-align: center;
} */

/*Styles for mobile, tablet, and desktop start*/
.contact {
  background: lightgrey;
  color: black;
  text-transform: capitalize;
  max-width: 1080px;
  height: 55%;
  margin: 0 auto;
}

.contact-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form__title {
  font-size: 2rem;
}

.input-name,
.input-email,
.input-subject,
.input-message {
  width: 100%;
  text-transform: capitalize;
  max-width: 85%;
}

.input-name,
.input-email,
.input-subject,
.input-send,
.input-message {
  font-size: 1rem;
}

.input-message {
  height: 200px;
}

.input-send {
  border-radius: 25px;
  text-transform: capitalize;
  width: 75px;
  margin: 20px;
}
/*Styles for mobile, tablet, and desktop end*/
