#pageon {
    color: red;
     font-weight: bolder;

}

nav {
    text-align: center;
}

div {
    text-align: center;
}


/* Styles for the Nav - Start */
#nav-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
     max-width: 1080px;
    margin: 0 auto;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
    margin: 2px;
}

a:hover,
a:active {
    color: red;
}

/* Styles for the Nav - End */

/* Styles for the Form - Start */
.contact {
    background: lightgrey;
    color: black;
    text-transform: capitalize;
     max-width: 1080px;
    height: 55vh;
    margin: 0 auto;
}

.contact-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form__title {
    font-size: 2rem;
}

.input-name,
.input-email,
.input-subject,
.input-message {
    width: 100%;
    text-transform: capitalize;
     max-width: 85%;
}

.input-name,
.input-email,
.input-subject,
.input-send,
.input-message {
    font-size: 1rem;
}

.input-message {
    height: 200px;
}

.input-send {
    border-radius: 25px;
    text-transform: capitalize;
    width: 75px;
    margin: 20px;

}

/*Styles for Form End*/

@media screen and (min-width: 576px) {

/* Styles for the Nav - Start */

#nav-container{
  display: grid;
  grid-template-columns: repeat(7, auto);
  text-align: center;
  background-color: black;
  padding-top: 5px;
}

/* Styles for the Nav - End */

/*Styles for the Form Start*/



    }
