/* align the nav items to the center and change the color of the current nav
item to red */

#pageon {
    color: red;
     font-weight: bolder;
}

nav {
    text-align: center;
}

div {
    text-align: center;
}
